#markdown{
    height: 70vh;
    background-color: transparent;
    resize: none;
    position: relative;
}
#markdown:focus, #markdown:active{
    outline: none;
}
.markdown-divs{
    border: 1px solid rgb(88, 88, 88);
    border-radius: 22px;
}
.button{
    border-bottom: 1px solid rgb(88, 88, 88);
}
.reset-button{
    border: 1px solid red;
    border-radius: 20px;
    width: 80px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transition: all .2s ease-in-out;
}
.reset-button:hover{
    background: rgb(201, 0, 0);
}