@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Space+Grotesk:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}
h1{
  font-family: 'Space Grotesk', sans-serif;
}

html,body{
  background: rgb(11, 11, 11);
}